### --- Day 5: Binary Boarding ---
this airline uses binary space partitioning to seat people. A seat might be specified like FBFBBFFRLR, where F means "front", B means "back", L means "left", and R means "right".<br><br>
The first 7 characters will either be F or B; these specify exactly one of the 128 rows on the plane (numbered 0 through 127). Each letter tells you which half of a region the given seat is in. Start with the whole list of rows; the first letter indicates whether the seat is in the front (0 through 63) or the back (64 through 127). The next letter indicates which half of that region the seat is in, and so on until you're left with exactly one row.<br><br>
The last three characters will be either L or R; these specify exactly one of the 8 columns of seats on the plane (numbered 0 through 7). The same process as above proceeds again, this time with only three steps. L means to keep the lower half, while R means to keep the upper half.<br><br>
As a sanity check, look through your list of boarding passes. What is the highest seat ID on a boarding pass?<br><br>

In [2]:
import pandas as pd
import os, sys
import numpy as np

In [3]:
with open(os.path.join(sys.path[0], "AoC_5_SeatNum.txt"), "r") as f: ##open file
    contents = f.read()
    seats = contents.split("\n")

In [4]:
col = ['seatCode']
df = pd.DataFrame(seats, columns = col)

In [5]:
df

       seatCode
0    BBFBBBBRRL
1    FBFFFFBLRL
2    FBFBBFFRLR
3    FBFFFBFRLR
4    FFBBFFFLRR
..          ...
896  BFBFBBFLRL
897  FFFFBBFLLR
898  BFBBFBBRRL
899  FBBBFFBRRL
900  FBBBBFFRLL

[901 rows x 1 columns]

In [6]:
seat_arr = list(range(0, 127+1))
seat_cols = list(range(0,7+1))

In [7]:
def split_list(a_list, half):
    half_int = len(a_list)//2
    if half == 'B' or half == 'R':
        return_half = a_list[half_int:]
    else:
        return_half = a_list[:half_int]
    return return_half

In [8]:
rec = 0

seat_row = []
seat_col = []

for rec in range(len(df.index)):
    rows = seat_arr
    cols = seat_cols
    seat_code = df.iloc[rec]['seatCode']
    codes = [] 
    codes[:] = seat_code 
    row_codes = codes[:7]
    col_codes = codes[7:]
    
    for rcd in row_codes:
        rows = split_list(rows,rcd)
    for ccd in col_codes:
        cols = split_list(cols, ccd)
    
    seat_row.append(rows[0])
    seat_col.append(cols[0])
    
df['row'] = seat_row
df['col'] = seat_col

In [9]:
df

       seatCode  row  col
0    BBFBBBBRRL  111    6
1    FBFFFFBLRL   33    2
2    FBFBBFFRLR   44    5
3    FBFFFBFRLR   34    5
4    FFBBFFFLRR   24    3
..          ...  ...  ...
896  BFBFBBFLRL   86    2
897  FFFFBBFLLR    6    1
898  BFBBFBBRRL   91    6
899  FBBBFFBRRL   57    6
900  FBBBBFFRLL   60    4

[901 rows x 3 columns]

Every seat also has a unique seat ID: multiply the row by 8, then add the column. In this example, the seat has ID 44 * 8 + 5 = 357.

In [10]:
df['seat_id'] = (df['row']*8 + df['col'])

In [11]:
df.describe()

              row         col     seat_id
count  901.000000  901.000000  901.000000
mean    56.728080    3.496115  457.320755
std     32.578629    2.294253  260.618312
min      0.000000    0.000000    7.000000
25%     29.000000    1.000000  232.000000
50%     57.000000    3.000000  457.000000
75%     85.000000    5.000000  683.000000
max    113.000000    7.000000  908.000000

In [12]:
df['seat_id'].max() ##What is the highest seat ID on a boarding pass?

908

Ding! The "fasten seat belt" signs have turned on. Time to find your seat.

It's a completely full flight, so your seat should be the only missing boarding pass in your list. However, there's a catch: some of the seats at the very front and back of the plane don't exist on this aircraft, so they'll be missing from your list as well.

Your seat wasn't at the very front or back, though; the seats with IDs +1 and -1 from yours will be in your list.

What is the ID of your seat?

In [13]:
import itertools

In [14]:
all_seats = [x *8 + y for x, y in itertools.product(seat_arr, seat_cols)]

In [15]:
taken_seats = df['seat_id'].values

In [16]:
main_list = np.setdiff1d(all_seats,taken_seats)

In [17]:
main_list ##Your seat wasn't at the very front or back, though; 
          ##the seats with IDs +1 and -1 from yours will be in your list.

array([   0,    1,    2,    3,    4,    5,    6,  619,  909,  910,  911,
        912,  913,  914,  915,  916,  917,  918,  919,  920,  921,  922,
        923,  924,  925,  926,  927,  928,  929,  930,  931,  932,  933,
        934,  935,  936,  937,  938,  939,  940,  941,  942,  943,  944,
        945,  946,  947,  948,  949,  950,  951,  952,  953,  954,  955,
        956,  957,  958,  959,  960,  961,  962,  963,  964,  965,  966,
        967,  968,  969,  970,  971,  972,  973,  974,  975,  976,  977,
        978,  979,  980,  981,  982,  983,  984,  985,  986,  987,  988,
        989,  990,  991,  992,  993,  994,  995,  996,  997,  998,  999,
       1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010,
       1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021,
       1022, 1023])

From visual inspection, seat_id 619 is the only value that meets the above criteria <br>
- not in front
- not in back
- not within a value of 1 with any other item in list