Fuel required to launch a given module is based on its mass. Specifically, to find the fuel required for a module, take its mass, divide by three, round down, and subtract 2.

For example:

    For a mass of 12, divide by 3 and round down to get 4, then subtract 2 to get 2.
    For a mass of 14, dividing by 3 and rounding down still yields 4, so the fuel required is also 2.
    For a mass of 1969, the fuel required is 654.
    For a mass of 100756, the fuel required is 33583.

The Fuel Counter-Upper needs to know the total fuel requirement. To find it, individually calculate the fuel needed for the mass of each module (your puzzle input), then add together all the fuel values.

In [12]:
import os, sys
import pandas as pd
import numpy as np

In [33]:
with open(os.path.join(sys.path[0], "AoC_1_modules.txt"), "r") as f:
    df= pd.read_csv(f, sep=' ', header = None)

In [34]:
df['fuel'] = (df[0].div(3).apply(np.floor)) -2

In [35]:
df

         0     fuel
0    71343  23779.0
1    60747  20247.0
2   122054  40682.0
3    67364  22452.0
4    53017  17670.0
..     ...      ...
95   79674  26556.0
96  109834  36609.0
97   77521  25838.0
98  110024  36672.0
99  115217  38403.0

[100 rows x 2 columns]

In [36]:
df.sum(axis=0) ##for fuel for module weight

0       9485145.0
fuel    3161483.0
dtype: float64

In [37]:
df['f2'] = (df['fuel'].div(3).apply(np.floor)) -2
df['f3'] = (df['f2'].div(3).apply(np.floor)) -2
df['f4'] = (df['f3'].div(3).apply(np.floor)) -2
df['f5'] = (df['f4'].div(3).apply(np.floor)) -2
df['f6'] = (df['f5'].div(3).apply(np.floor)) -2
df['f7'] = (df['f6'].div(3).apply(np.floor)) -2
df['f8'] = (df['f7'].div(3).apply(np.floor)) -2
df['f9'] = (df['f8'].div(3).apply(np.floor)) -2
df['f10'] = (df['f9'].div(3).apply(np.floor)) -2

In [38]:
df[df < 0] = 0

In [39]:
df.describe()

,0,fuel,f2,f3,f4,f5,f6,f7,f8,f9,f10
count,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0
mean,94851.450000,31614.83000,10535.940000,3509.690000,1167.550000,386.880000,126.650000,39.870000,10.910000,1.420000,0.0
std,28026.566959,9342.16743,3114.058535,1037.974248,345.965298,115.323461,38.459575,12.813862,4.252379,1.319473,0.0
min,51193.000000,17062.00000,5685.000000,1893.000000,629.000000,207.000000,67.000000,20.000000,4.000000,0.000000,0.0
25%,70652.000000,23548.00000,7847.250000,2613.500000,868.750000,287.500000,93.500000,28.750000,7.000000,0.000000,0.0
50%,92577.500000,30857.00000,10283.500000,3425.500000,1139.500000,377.500000,123.500000,39.000000,10.500000,1.000000,0.0
75%,118569.250000,39520.75000,13171.000000,4387.750000,1460.250000,484.750000,159.000000,50.500000,14.250000,2.250000,0.0
max,148941.000000,49645.00000,16546.000000,5513.000000,1835.000000,609.000000,201.000000,65.000000,19.000000,4.000000,0.0

In [40]:
print (df[['fuel','f2','f3','f4','f5','f6','f7','f8','f9','f10']].sum(axis=1).sum())

4739374.0